body {
  margin: 0;
  background-color: black;
}

#cards {
  position: relative;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
}

#wrapper {
  position: absolute;
  float: left;
  left: 0;
  transition: left 0.5s;
}

.card {
  float: left;
}

.card img {
  width: 100%;
}
