body {
	margin: 0;
	background-color: #ffffff;
}

.insta2Header {
	background: #00487D;
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #ffffff;
	font-size: 1.3em;
	text-align: center;
	position: fixed;
	top: 0px;
}

.top_mar {
	display:none;
}