body {
  margin: 0;
}

#cover-wrapper {
  width: 100%;
  position: relative;
}

#cover {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

body img {
  width: 100%;
}

#row .col {
  width: 50%;
}

.col1 {
  position: relative;
}

.col1 img {
  position: absolute;
}

.fake {
  z-index: -1;
}

.fake.active {
  z-index: 1;
}

.col2 {
  position: relative;
  left: 50%;
}
